<h1 style="text-align : center">My Profile</h1>
 <!-- CONTENT -->

 <div ng-controller="MyProfileController">
  <md-content class="md-padding" layout="row">
    <div flex-offset="25" flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>  
        <md-card-title> 
          <md-card-title-text>
            <span class="md-headline">Đinh Văn Thành</span>
            <span class="md-subhead">Dev</span>
          </md-card-title-text> 
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img src="assets/images/avatars/Abbott.jpg" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <div layout="row">
            <!-- BASIC FORM -->
            <div  flex="100">
              <form name="basicForm"  novalidate> 
                <div layout="row">
                  <md-input-container flex>
                    <input type="text" name="firstname" ng-model="vm.basicForm.firstname"
                           placeholder="Firstname"> 
                  </md-input-container>
                  <md-input-container flex>
                    <input type="text" name="lastname" ng-model="vm.basicForm.lastname" placeholder="Lastname"> 
                  </md-input-container>
                </div>
                <div layout="row"> 
                  <md-input-container flex>
                    <label>Gender</label>
                    <md-select ng-model="vm.basicForm.gender">
                      <md-option ng-repeat="gender in genders" value="{{gender}}">
                        {{gender}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container flex>
                     
                    <input type="text" name="PhoneNumber" ng-model="vm.basicForm.firstname"
                             ng-pattern="/^[0-9]{9,}$/" placeholder="PhoneNumber">
                    <div ng-messages="basicForm.PhoneNumber.$error"
                         role="alert">
                      
                      <div ng-message="pattern"><span>That doesn't look like a valid Phone number.</span></div>
                    </div>
                  </md-input-container> 
                </div>
                <div layout="row"> 
                  <md-input-container flex>
                    <label>Birthday</label>
                    <md-datepicker ng-model="ctrl.myDate" md-placeholder="BirthDay" md-open-on-focus 
                                    md-min-date="minDate"
                                    md-max-date="maxDate"></md-datepicker>
                    <div ng-messages="myForm.dateField.$error">
                      <div ng-message="valid">The Birthday value is not a date!</div> 
                      <div ng-message="mindate">Date is too early!</div>
                      <div ng-message="maxdate">Date is too late!</div>
                    </div> 
                  </md-input-container>
                  <md-input-container flex>
                     
                    <input type="text" name="Email" ng-model="vm.basicForm.lastname"  ng-pattern="/^.+@.+\..+$/" placeholder="Email">
                    <div ng-messages="myForm.Email.$error">
                      <div ng-message="pattern">Email value is not a date!</div> 
                    </div> 
                  </md-input-container>
                </div>
                <div layout="row">
                  <md-input-container flex>
                    <h3>Remain Day Off : <span>4</span></h3>
                    
                  </md-input-container>
                </div>
               
              </form>
            </div>
            <!-- / BASIC FORM -->
            
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button type="button" class="md-raised md-accent" aria-label="Save" >
            Save
          </md-button>
        </md-card-actions>
      </md-card>
      </div>
    </md-content>
  </div>


    <script type="text/ng-template" id="dialog.template.html">
      <md-dialog flex="30" aria-label="Mango (Fruit)" ng-cloak>

        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Add New Employee</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dialog.cancel()">
              <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content>

          <md-content layout-padding>
            <form name="userForm">

              <div flex="grow">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>First name</label>
                  <input ng-model="user.firstName">
                </md-input-container>

              </div>

              <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Last Name</label>
                  <input ng-model="user.lastname">
                </md-input-container>
              </div>

              <div layout-gt-xs="row">

                <md-input-container class="md-block" flex-gt-xs>
                  <label>Gender</label>
                  <md-select ng-model="user.gender">
                    <md-option ng-repeat="gender in genders" value="{{gender.id}}">
                      {{gender.value}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>

              <div layout-gt-xs="row">

                <md-input-container>
                  <label>Date Of Birth</label>
                  <md-datepicker ng-model="user.birthday"></md-datepicker>
                </md-input-container>
              </div>

              <div layout-gt-xs="row">

                <md-input-container class="md-block" flex-gt-xs>
                  <label>Position</label>
                  <md-select ng-model="user.position">
                    <md-option ng-repeat="position in positions" value="{{position.id}}">
                      {{position.value}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Phone Number</label>
                  <input name="phonenumber" ng-model="user.phonenumber" required ng-pattern="/^[0-9]{11}$/" md-maxlength="11">
                  <div ng-messages="userForm.phonenumber.$error" role="alert" multiple>
                    <div ng-message="required" class="my-message">You must supply a postal code.</div>
                    <div ng-message="pattern" class="my-message">
                      That doesn't look like a valid postal
                      code.
                    </div>
                    <div ng-message="md-maxlength" class="my-message">
                      Don't use the long version silly...we don't need to be that specific...
                    </div>
                  </div>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">
                <md-input-container class="md-block">
                  <label>Email</label>
                  <input required type="email" name="Email" ng-model="project.clientEmail"
                         minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                  <div ng-messages="userForm.Email.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                      Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                  </div>
                </md-input-container>
              </div>

              <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Remain Day Off</label>
                  <input ng-model="user.reamindayoff" type="number" value="12">
                </md-input-container>
              </div>

              <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm>
                  <label>Upload Avatar</label>

                </md-input-container>
              </div>

            </form>
          </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
          <span flex></span>
          <md-button ng-click="dialog.answer('not useful')">
            Create
          </md-button>
          <md-button ng-click="closeDialog()" md-autofocus>
            Cancel
          </md-button>
        </md-dialog-actions>

      </md-dialog>
    </script>
